{% extends "base.html.twig" %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>{{ 'category.all'|trans }}</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }}{{ 'category.category'|trans }}{{ category.name }}</h2>
            {# Lien vers la fiche de la catégorie : #}
            <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ 'category.fiche'|trans }}</a>
        </div>
    {% else %}
        {{ 'category.none'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'home.back'|trans }}
    </a>
{% endblock %}