{# templates/category/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Catégorie #{{ category.name }}{% endblock %}

{% block body %}

<h1>{{ 'program.all'|trans }}{{ category.name }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'program.fiche'|trans }}</a>
        </div>
    {% else %}
        {{ 'program.none'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'home.back'|trans }}
    </a>

{% endblock %}