{# templates/program/episode_show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Episode #{{ episode.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
    <h2 class="mt-0">Episode {{ episode.number }} : {{ episode.title }}</h2>
    <p>{{ episode.synopsis }}</p>
  </div>
</div>

<a href="{{ path('program_season_show', { "slug": program.slug, "season": season.id }) }}">
    Retour à la liste des épisodes
</a>

{% if app.user %}
  <h3>Ajouter un commentaire:</h3>
  {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="Valider le commentaire" />
  {{ form_end(form) }}
{% endif %}

{% for comment in episode.comments %}
  <h5>commentaire de {{ comment.author.email }} :</h5>
  <p>{{ comment.comment }}</p>
  <h6>Note : {{ comment.rate }}</h6>
  {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
    <form method="post"
      action="{{ path('program_comment_delete', {
        'program_slug': program.slug,
        'season': season.id,
        'episode_slug': episode.slug,
        'comment': comment.id
        }) }}"
      onsubmit="return confirm('Are you sure you want to delete this comment?');">
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">Supprimer le commentaire</button>
</form>
  {% endif %}
{% endfor %}

{% endblock %}